In [ ]:
from snowflake.snowpark import Session
session = get_active_session()

TO CONVERT merge_revenue_ifrs_dd_pi.py CODE

In [ ]:
select * from tsel_poc.raw.revenue_pi_dd_poc_tokenized
limit 10;

In [ ]:
SELECT expiry_date_usage AS trx_date,
           purchase_date_2 AS purchase_date,
           transaction_id,
           '' AS subs_id,
           msisdn,
           CAST(reserve1 AS INT) AS price_plan_id,
           brand,
           1 AS pre_post_flag,
           cust_type AS cust_type_desc,
           cust_subtype AS cust_subtype_desc,
           '' AS customer_sub_segment,
           '' AS lac,
           '' AS ci,
           '' AS lacci_id,
           node_type AS node,
           'UNKNOWN' AS area_sales,
           CASE WHEN region IS NULL OR region = '' THEN 'UNKNOWN' ELSE region END AS region_sales,
           CASE WHEN branch IS NULL OR branch = '' THEN 'UNKNOWN' ELSE branch END AS branch,
           'UNKNOWN' AS subbranch,
           CASE WHEN cluster IS NULL OR cluster = '' THEN 'UNKNOWN' ELSE cluster END AS cluster_sales,
           'UNKNOWN' AS provinsi,
           'UNKNOWN' AS kabupaten,
           'UNKNOWN' AS kecamatan,
           'UNKNOWN' AS kelurahan,
           NULL AS lacci_closing_flag,
           bid AS sigma_business_id,
           '' AS sigma_rules_id,
           '' AS sku,
           '' AS l1_payu,
           '' AS l2_service_type,
           '' AS l3_allowance_type,
           '' AS l4_product_category,
           '' AS l5_product,
           l1_ias,
           l2_ias,
           l3_ias,
           '' AS commercial_name,
           '' AS channel,
           '' AS pack_validity,
           CAST(SUM(pi_value_final) AS DECIMAL(38,15)) AS rev_per_usage,
           CAST(SUM(0) AS DECIMAL(38,15)) AS rev_seized,
           CAST(SUM(0) AS INT) AS dur,
           CAST(SUM(0) AS INT) AS trx,
           CAST(SUM(0) AS BIGINT) AS vol,
           NULL AS cust_id,
           '' AS profile_name,
           '' AS quota_name,
           '' AS service_filter,
           '' AS price_plan_name,
           SUBSTR(transaction_id, 1, 2) AS channel_id,
           '' AS site_id,
           '' AS site_name,
           '' AS region_hlr,
           '' AS city_hlr,
           current_date() AS load_date,
           expiry_date_usage AS event_date,
           'PI' AS source
    FROM tsel_poc.raw.revenue_pi_dd_poc_tokenized
    WHERE event_date = '2025-04-01'
    GROUP BY expiry_date_usage, purchase_date_2, transaction_id, msisdn, reserve1, brand, cust_type, cust_subtype, node_type, region, branch, cluster, bid, l1_ias, l2_ias, l3_ias, transaction_id

In [ ]:
def process_data(session: Session, event_date: str):
    # Define table
    table_1 = f"tsel_poc.raw.revenue_pi_dd_poc_tokenized"

    # Define period
    print(f"run for event_date={event_date}")

    # Compose SQL query
    query = f"""
    SELECT expiry_date_usage AS trx_date,
           purchase_date_2 AS purchase_date,
           transaction_id,
           '' AS subs_id,
           msisdn,
           CAST(reserve1 AS INT) AS price_plan_id,
           brand,
           1 AS pre_post_flag,
           cust_type AS cust_type_desc,
           cust_subtype AS cust_subtype_desc,
           '' AS customer_sub_segment,
           '' AS lac,
           '' AS ci,
           '' AS lacci_id,
           node_type AS node,
           'UNKNOWN' AS area_sales,
           CASE WHEN region IS NULL OR region = '' THEN 'UNKNOWN' ELSE region END AS region_sales,
           CASE WHEN branch IS NULL OR branch = '' THEN 'UNKNOWN' ELSE branch END AS branch,
           'UNKNOWN' AS subbranch,
           CASE WHEN cluster IS NULL OR cluster = '' THEN 'UNKNOWN' ELSE cluster END AS cluster_sales,
           'UNKNOWN' AS provinsi,
           'UNKNOWN' AS kabupaten,
           'UNKNOWN' AS kecamatan,
           'UNKNOWN' AS kelurahan,
           NULL AS lacci_closing_flag,
           bid AS sigma_business_id,
           '' AS sigma_rules_id,
           '' AS sku,
           '' AS l1_payu,
           '' AS l2_service_type,
           '' AS l3_allowance_type,
           '' AS l4_product_category,
           '' AS l5_product,
           l1_ias,
           l2_ias,
           l3_ias,
           '' AS commercial_name,
           '' AS channel,
           '' AS pack_validity,
           CAST(SUM(pi_value_final) AS DECIMAL(38,15)) AS rev_per_usage,
           CAST(SUM(0) AS DECIMAL(38,15)) AS rev_seized,
           CAST(SUM(0) AS INT) AS dur,
           CAST(SUM(0) AS INT) AS trx,
           CAST(SUM(0) AS BIGINT) AS vol,
           NULL AS cust_id,
           '' AS profile_name,
           '' AS quota_name,
           '' AS service_filter,
           '' AS price_plan_name,
           SUBSTR(transaction_id, 1, 2) AS channel_id,
           '' AS site_id,
           '' AS site_name,
           '' AS region_hlr,
           '' AS city_hlr,
           current_date() AS load_date ,
           expiry_date_usage AS event_date,
           'PI' AS source
    FROM {table_1}
    WHERE expiry_date_usage = '{event_date}'
    GROUP BY expiry_date_usage, purchase_date_2, transaction_id, msisdn, reserve1, brand, cust_type, cust_subtype, node_type, region, branch, cluster, bid, l1_ias, l2_ias, l3_ias, transaction_id
    """
    df = session.sql(query)
    return df

In [ ]:

df = process_data(session, "2025-04-01")

In [ ]:
df.show()

TO CONVERT merge_revenue_ifrs_dd_seized.py Code